/*welcome*/
.welcome {
  width: 1200px;
  margin: 55px auto 120px;
}
.welcome .classic {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 105px 0;
}
.welcome .classic li {
  width: 230px;
}
.welcome .classic img {
  margin-bottom: 4px;
}
.welcome .classic h3 {
  font: 20px "Franklin Gothic Medium";
  text-transform: uppercase;
}
.welcome .classic h4 {
  font-weight: bold;
  color: #666;
  margin: 7px 0 30px;
}
.welcome .classic p {
  font-size: 12px;
  line-height: 24px;
  color: #999;
}
/*production center*/
.pro-center {
  width: 100%;
  margin-bottom: 122px;
  position: relative;
}
.pro-center .pro-list {
  margin-top: 50px;
  display: flex;
  overflow: hidden;
}
.pro-center .pro-list li {
  flex: 0 0 320px;
}
.pro-center .box {
  background-color: #e5e5e5;
  overflow: hidden;
  height: 30px;
  margin-top: -2px;
}
.pro-center li:hover .box {
  background-color: #01a1ff;
}
.pro-center .box p {
  float: left;
  margin-left: 15px;
  font-size: 14px;
  margin-top: 8px;
  color: #333333;
}
.pro-center li:hover p {
  color: #fff;
}
.pro-center .box span {
  float: right;
  width: 15px;
  height: 15px;
  padding-bottom: 2px;
  text-align: center;
  margin-top: 7.5px;
  margin-right: 15px;
  color: #cecece;
  background: #999999;
  border-radius: 50%;
}
.pro-center li:hover span {
  background-color: #fff;
  color: #01a1ff;
}
.pro-center.next {
  position: absolute;
  width: 32px;
  height: 32px;
}
.pro-center .next {
  right: 10px;
  top: 290px;
  background: url("../home/images/index-xb3.png");
}
/*news center*/
.news-center {
  width: 100%;
}
.news-center .box {
  width: 1200px;
  overflow: hidden;
  margin: 50px auto 120px;
}
.news-center .news-left {
  width: 555px;
  height: 312px;
  overflow: hidden;
  float: left;
  background: url("../home/images/图层 76.png");
}
.news-center .news-left p {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  background-color: #01a1ff;
  color: #ffffff;
  text-indent: 10px;
  margin-top: 257px;
}
.news-center .news-right {
  width: 605px;
  height: 312px;
  float: right;
  overflow: hidden;
}
.news-center .news-right .box1 {
  overflow: hidden;
  margin-bottom: 10px;
}
.news-center .news-right .box1-1 {
  width: 70px;
  height: 78px;
  float: left;
  text-align: center;
  margin-right: 10px;
}
.news-center .box1-1 div:first-child {
  font-size: 40px;
  height: 57px;
  line-height: 57px;
  color: #01a1ff;
  border: 1px solid #01a1ff;
}
.news-center .box1-1 div:last-child {
  font-size: 14px;
  height: 21px;
  padding: 4px 0;
  color: #fff;
  background: #01a1ff;
}
.news-center .news-right .box1-2 {
  width: 525px;
  height: 78px;
  float: right;
}
.news-center .box1-2 p:first-child {
  font-size: 18px;
  color: #01a1ff;
  font-weight: bold;
  margin: 6px 0 10px;
}
.news-center .box1-2 p:last-child {
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}
.news-center .box2 {
  width: 605px;
  margin-top: 10px;
}
.news-center .box2 li {
  width: 100%;
  height: 36px;
  font-size: 14px;
  overflow: hidden;
  border-top: 1px dashed #cccccc;
}
.news-center .box2 li:last-child {
  border-bottom: 1px dashed #cccccc;
}
.news-center .box2 p:first-child {
  float: left;
  color: #666666;
  margin-top: 13px;
}
.news-center .box2 p:last-child {
  float: right;
  color: #666;
  margin-top: 13px;
}
/*video-center*/
.video-center {
  width: 100%;
  margin: 50px auto;
  position: relative;
}
.video-center .video-list {
  width: 1200px;
  margin: 54px auto 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.video-list li {
  flex: 0 0 260px;
  height: 285px;
  position: relative;
  overflow: hidden;
}
.video-list li:hover {
  box-shadow: 4px 0 4px rgba(156, 211, 255, 0.73), -4px 0 4px rgba(164, 221, 255, 0.73), 0 4px 4px #a4ddff;
}
.video-list li:first-child {
  box-shadow: 4px 0 4px rgba(156, 211, 255, 0.73), -4px 0 4px rgba(164, 221, 255, 0.73), 0 4px 4px #a4ddff;
}
.video-list li span {
  width: 54px;
  height: 54px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 71px;
  left: 103px;
  background: rgba(0,0,0,.5);
}
.video-list li:hover span {
  border: 3px solid #01a1ff;
  background: rgba(0,0,0,0);
}
.video-list li:first-child span {
  border: 3px solid #01a1ff;
  background: rgba(0,0,0,0);
}
.video-list li span:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 15px;
  left: 22px;
  border: 12px solid transparent;
  border-left: 15px solid #fff;
}
.video-list li:hover span:after {
  border-left: 15px solid #01a1ff;
}
.video-list li:first-child span:after {
  border-left: 15px solid #01a1ff;
}
.video-list li h3 {
  margin: 15px 0 7px;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
.video-list li:hover h3 {
  color: #01a1ff;
}
.video-list li:first-child h3 {
  color: #01a1ff;
}
.video-list li p {
  font-size: 12px;
  color: #999999;
}
.video-center .prev,.video-center .next {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 270px;
}
.video-center .prev {
  right: 290px;
  background: url("../home/images/index-xb3.png");
}
.video-center .next {
  left: 290px;
  background: url("../home/images/index-xb2.png");
}
.video-center .next:hover {
  background: url("../home/images/index-xb4.png");
}
/*清除边距*/
.banner {
  margin: 0;
}

