/*导航栏*/
header {
  width: 1200px;
  height: 84px;
  line-height: 80px;
  margin: 0 auto;
  overflow: hidden;
}

header .logo {
  width: 140px;
  margin: 7px 200px 0 0;
  float: left;
}
header .nav {
  float: left;
  overflow: hidden;
}
header .nav .active:after, header .nav li:not(li[class=active]):hover {
  content: '';
  /*要block才能显示*/
  display: block;
  border-bottom: 4px solid #01a1ff;
}
header .nav .active a {
  color: #01a1ff;
}
header .nav li {
  float: left;
  font-size: 16px;
  margin-right: 56px;
}

header .nav a {
  color: #333333;
}

header .nav li:hover a {
  color: #01a1ff;
}

header .language {
  float: right;
  overflow: hidden;
}

header .language li {
  float: left;
  width: 47px;
  height: 50px;
  margin-top: 15px;
  border: 1px solid transparent;
  text-align: center;
  line-height: 50px;
}

header .language li:first-child {
  border: 1px solid #ccc;
}

header .language li:hover {
  border: 1px solid #ccc;
}
/*轮播图*/
.banner {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-bottom: 86px;
}
.banner .imgs {
  width: 1000%;
  position: absolute;
}
.banner .imgs li {
  width: 10%;
  float: left;
}
.banner img {
  height: 400px;
}
.banner .prev, .next {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 184px;
}
.banner .prev {
  right: 40px;
  background: url("../home/images/index-xb1.png");
}
.banner .prev:hover {
  background: url("../home/images/index-xb3.png");
}
.banner .next {
  left: 40px;
  background: url("../home/images/index-xb2.png");
}
.banner .next:hover {
  background: url("../home/images/index-xb4.png");
}
.banner .count {
  width: 100%;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: 10px;
}
.banner .count li {
  width: 10px;
  height: 10px;
  float: left;
  background-color: #000;
  opacity: .2;
  filter: alpha(opacity=20);
  border-radius: 50%;
  margin-right: 5px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.banner .count .active1 {
  background-color: #01a1ff;
  opacity: 1;
  filter: alpha(opacity=100);
}
/*标题公共样式*/
.title {
  font: 34px "Franklin Gothic Medium";
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 44px;
}
.title:after {
  content: '';
  display: block;
  width: 42px;
  border-bottom: 4px solid #01a1ff;
  left: 50%;
  position: absolute;
  margin-left: -21px;
  bottom: -3px;
}
/*段落公共样式*/
.index-p {
  width: 1022px;
  font-size: 14px;
  color: #666;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
}
/*页尾*/
footer {
  width: 100%;
  border-bottom: 1px solid #fff;
  background: #01a1ff;
  overflow: hidden;
}
.footer-content {
  width: 1200px;
  margin: 50px auto;
  overflow: hidden;
}
.footer-left {
  float: left;
  width: 715px;
  height: 186px;
  display: flex;
  justify-content: space-between;
}
.footer-left dl {
  width: 65px;
}
.footer-left dt {
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 7px;
  margin-bottom: 10px;
  border-bottom: 1px solid #99d9ff;
}
.footer-left dd a {
  font-size: 12px;
  color: #ffffff;
  line-height: 30px;
}
.footer-right {
  float: right;
}
.footer-right input, .footer-right textarea {
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  background-color: #01a1ff;
}
.footer-right .text input {
  width: 139px;
  height: 35px;
  padding-left: 5px;
}
.footer-right .text input::-webkit-input-placeholder, .footer-right textarea::-webkit-input-placeholder {
  color: #fff;
}
.footer-right .text input:first-child {
  margin-right: 20px;
}
.footer-right textarea {
  width: 309px;
  height: 100px;
  margin: 10px 0;
  padding: 5px;
  resize: none;
}
.footer-right input[type=button] {
  width: 108px;
  height: 30px;
}
footer>p {
  width: 100%;
  height: 40px;
  font-size: 12px;
  color: #fff;
  border-top: 1px solid #fff;
  line-height: 40px;
  text-align: center;
}
/*center-content*/
.center-content {
  width: 1240px;
  margin: 0 auto 120px;
  overflow: hidden;
}
.center-content .content {
  width: 960px;
  float: right;
}
/*top-title*/
.top-title {
  overflow: hidden;
  padding-bottom: 7px;
  border-bottom: 1px solid #d3d3d3;
}
.top-title>span {
  float: left;
  width: 3px;
  height: 38px;
  margin-left: 20px;
  background-color: #01a1ff;
}
.top-title h2 {
  float: left;
  margin: 4px 8px 0 5px;
  font-size: 26px;
  color: #333333;
}
.top-title p.p1 {
  float: left;
  color: #666666;
  font-size: 10px;
  margin-top: 20px;
}
.top-title p.p2 {
  float: right;
  font-size: 12px;
  margin: 17px 24px 0 0;
}
.top-title p.p2 span {
  color: #01a1ff;
}
/*na-list*/
.na-list {
  width: 200px;
  float: left;
}
.na-list .box {
  width: 200px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  background-color: #01a1ff;
}
.na-list .box h2 {
  font-size: 22px;
  margin-top: 32px;
  text-transform: uppercase;
}
.na-list .box h2:after {
  content: '';
  display: block;
  margin: 10px auto;
  width: 22px;
  border-bottom: 3px solid #fff;
}
.na-list .box h3 {
  margin-bottom: 24px;
}
.na-list .list {
  width: 198px;
  padding: 9px 0 15px;
  border: 1px solid #01a1ff;
}
.na-list .list li {
  width: 172px;
  height: 28px;
  line-height: 28px;
  margin: 0 auto 18px;
  font-size: 18px;
  text-align: center;
  border-radius: 12px;
}
.na-list .list li:last-child {
  margin-bottom: 0;
}
.na-list .list li:hover {
  color: #fff;
  background-color: #01a1ff;
}
.na-list .list li:hover a {
  color: #fff;
}
.na-list .list li.act-li {
  color: #fff;
  background-color: #01a1ff;
}
.na-list .list li.act-li a {
  color: #fff;
}
/*two-same*/
.two-same {
  margin-bottom: 100px;
}
.two-same .na-list {
  float: none;
}
.two-same .fir {
  float: left;
}
.two-same .na-seo {
  margin-top: 40px;
  float: none;
}
.two-same .box-bottom {
  border: 1px solid #01a1ff;
}
.two-same .box-bottom div {
  width: 172px;
  height: 34px;
  margin: 9px auto;
  position: relative;
  border: 1px solid #ccc;
}
.two-same .box-bottom img {
  top: 9px;
  right: 5px;
  position: absolute;
}
/*box3*/
.box3 {
  width: 400px;
  display: flex;
  margin: 60px auto 0;
  text-align: center;
  justify-content: space-between;
}
.box3 p, .box3 div {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #999;
  background-color: #e5e5e5;
  font-size: 12px;
}
.box3 p {
  width: 92px;
}
.box3 p:hover {
  color: #fff;
  background-color: #01a1ff;
}
.box3 div {
  width: 30px;
}
.box3 .act1, .box3 div:hover {
  background-color: #01a1ff;
}
.box3 div a {
  color: #999;
}
.box3 .act1 a, .box3 div:hover a {
  color: #fff;
}


