/*news-content*/
.news-content .content .main {
  width: 930px;
  padding-top: 40px;
  margin: 0 auto;
}
.news-content .main ul {
  width: 100%;
}
.news-content .main li {
  overflow: hidden;
  margin-bottom: 30px;
}
.news-content .main a {
  overflow: hidden;
}

/* data */
.news-content .main .data {
  float: left;
  background-color: #e5e5e5;
  width: 108px;
}
.news-content .main li.act .data, .news-content .main li:hover .data {
  background-color: #01a1ff;
}
.news-content .data span {
  display: block;
}
.news-content .main li.act span, .news-content .main li:hover span {
  color: #fff;
}
.news-content .data .box1 ,.news-content .data .box2 {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.news-content .data .box1 {
  width: 46px;
}
.news-content .box1 span {
  width: 2px;
  height: 6px;
  background-color: #f7f7f7;
}
.news-content .data .box2 {
  width: 52px;
}
.news-content .box2 span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f7f7f7;
}
.news-content .data>span:nth-of-type(1) {
  font-size: 50px;
  margin: 6px 0 10px 30px ;
  color: #999;
}
.news-content .data>span:nth-of-type(2) {
  width: 66px;
  padding-top: 10px;
  border-top: 1px solid #b2b2b2;
  font-size: 13px;
  color: #999;
  text-align: center;
  margin: 0 auto 10px;
}
.news-content li.act .data>span:nth-of-type(2), .news-content li:hover .data>span:nth-of-type(2) {
  border-top: 1px solid #fff;
}
.news-content .main article {
  float: right;
  width: 805px;
}
.news-content article h3 {
  font-size: 20px;
  color: #555;
  margin: 10px 0 20px;
  font-weight: 600;
}
.news-content li.act article h3, .news-content li:hover article h3 {
  color: #01a1ff;
}
.news-content article p {
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  text-indent: 2em;
}



