.contact-content .na-list .box5 {
  width: 198px;
  padding: 20px 0;
  border: 1px solid #01a1ff;
  text-align: center;
}
.contact-content .na-list .box5 p {
  font-size: 16px;
  color: #01a1ff;
  margin: 0 auto;
}
.contact-content .na-list .box5 p:nth-child(2) {
  margin: 8px auto 10px;
}
.contact-content .na-list .box5 p:last-child {
  padding-top: 5px;
  width: 140px;
  border-top: 2px solid #01a1ff;
  margin: 5px auto 0;
}
.contact-content .main {
  width: 930px;
  margin: 0 auto;
}
.contact-content .main img {
  margin: 40px 0 28px;
}
.contact-content .main .box6 {
  overflow: hidden;
}
.contact-content .box6 .left {
  float: left;
}
.contact-content .left h3,.contact-content .right h3 {
  font-size: 20px;
  color: #555;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-content .right h3 {
  margin-bottom: 10px;
}
.contact-content .left input {
  width: 280px;
  height: 30px;
  margin-bottom: 10px;
}
.contact-content .left .area {
  overflow: hidden;
}
.contact-content .area span {
  float: left;
}
.contact-content .area textarea {
  float: left;
  resize: none;
  width: 435px;
  height: 115px;
}
.contact-content .left p:last-child input {
  width: 95px;
  height: 30px;
  border: none;
  margin: 10px -20px 0 48px;
}
.contact-content .left p:last-child input:first-child {
  background-color: #01a1ff;
  color: #fff;
}
.contact-content .left p:last-child input:last-child {
  color: #666;
}
.contact-content .box6 .right {
  float: right;
  width: 373px;
}
.contact-content .right p {
  font-size: 14px;
  line-height: 32px;
  color: #666;
}
.contact-content .right p:nth-of-type(3) span {
  margin-right: 16px;
}


