.product-content .main {
  /*width: 930px;*/
  margin: 0 auto;
  overflow: hidden;
}
.product-content .main li {
  width: 280px;
  height: 210px;
  float: left;
  margin: 40px 45px 0 0;
  position: relative;
}
.product-content .main li:nth-child(3n) {
  margin-right: 0;
}
.product-content .main li:nth-child(3n+1) {
  margin-left: 20px;
}
.product-content .main p {
  position: absolute;
  width: 100%;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  bottom: 0;
  color: #fff;
  background-color: rgba(0,0,0,.5);
}
.product-content .main li:hover p {
  background-color: #01a1ff;
  opacity: 1;
}
.product-content .main li:nth-child(3) p {
  background-color: #01a1ff;
  opacity: 1;
}