.product-details .main {
  width: 930px;
  margin: 60px auto 0;
  overflow: hidden;
}
.product-details .main img {
  float: left;
  width: 415px;
  height: 415px;
}
.product-details .main .box {
  float: right;
  width: 455px;
}
.product-details .main .box h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 25px 0 15px;
  color: #333333;
}
.product-details .main .box h3 {
  font-size: 14px;
  color: #d73240;
  height: 35px;
  width: 455px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 20px;
}
.product-details .main .box p {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 16px;
  color: #666666;
}
.product-details .main .box p:nth-last-child(3) {
  margin-bottom: 5px;
}
.product-details .main .box p:nth-last-child(1), .product-details .main .box p:nth-last-child(2) {
  margin-left: 5em;
  margin-bottom: 5px;
}



